<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.16" targetFramework="net35" />
  <package id="BepInEx.Core" version="5.4.16" targetFramework="net35" />
  <package id="FirewatchGameLibs" version="1.0.9.1" targetFramework="net35" />
  <package id="HarmonyX" version="2.5.5" targetFramework="net35" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net35" />
  <package id="MonoMod.RuntimeDetour" version="21.8.19.1" targetFramework="net35" />
  <package id="MonoMod.Utils" version="21.8.19.1" targetFramework="net35" />
</packages>